@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  /* Navbar style start from here */
header{
  background-color: rgba(255, 144, 14, 0.1);
  margin: 0px;
}
body{
  margin: 0;
  padding: 0;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  height: 100px;
  margin: 0px auto;
  align-items: center;
}
.navbar{
  display: flex;
  align-items: center;
}
.page{
  list-style: none;
}
.page-link{
  color: #424242;
  text-decoration: none;
  font-family: work sans;
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
}
.nav-title{
  font-family: work sans;
  font-size: 1.85rem;
  font-weight: bold;
  padding: 10px;
}

/* Banner Style Start from Here */

#banner-container{
  background-color: #FFF4E6;
  margin: 0px;
}
.banner-title{
  font-family: work sans;
  font-weight: 700;
  font-size: 60px;
}
.banner-description{
  color: #727272;
  font-family: work sans;
}
.banner-content{
  max-width: 860px;
  margin: 0px auto;
  text-align: center;
  justify-content: center;
  padding: 50px;
}
.btn-primary{
  background-color: rgba(255, 144, 14, 1);
  color: #FFFFFF;
  margin-top: 10px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  font-family: work sans;
  font-weight: 600;
}
.banner-img{
  max-width: 1500px;
  margin: 0px auto;
  padding: 40px;
}
.ban-img{
  width: 100%;
}

/* Feature Section Style Start from here */
.feature_container{
  display: flex;
  max-width: 1300px;
  margin: 0px auto;
}
.feature_img_element{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
.feature_title{
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: left;
}
.feature_tit{
  font-family: Work Sans;
  Font-weight: 500;
  Font-size: 45px;
  Align:left;
  color: rgb(114, 114, 114);
}

.feature_titl{
   color: rgb(255, 144, 14);
}
.feature_description{
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.feature_content{
  align-content: center;
  padding-left: 10px ;
}
#feature{
  margin: 30px auto;
}

/*  responsive Banner and Header item for Smaller device */
@media screen and (max-width:576px) {
  /* Header */
  .nav-container{
    flex-direction: column;
  }
  .navbar{
    align-items: center;
  }
  .page-link{
    font-size: 14px;
  }

  /* Banner Style */
  .banner-content{
    padding-top: 100px; 
  }
  .banner-title{
    font-size: 30px;
  }
  .banner-description{
    font-size: 15px;
  }
  .btn-primary{
    padding: 12px 20px;
  }
  .banner-img{
    margin-top: -40px;
  }

  /* Feature Style Start from here */
  .feature_container{
    flex-direction: column;
  }
  .feature_img_element{
    grid-template-columns: repeat(1,1fr);
  }
}


